iUnity3d/Temp/
iUnity3d/Library/
iUnity3d/ExportedObj/
iUnity3d/obj/
iUnity3d/.vs/

# Build results

iUnity3d/[Dd]ebug/
iUnity3d/[Rr]elease/
iUnity3d/x64/
iUnity3d/build/
iUnity3d/[Bb]in/
iUnity3d/[Oo]bj/
iUnity3d/[Bb]uild/
iUnity3d/[Bb]uilds/

*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

*.csproj
*.sln

iUnity3d/Assets/skyb1/
